@page "/sentiment"
@inject HttpClient Http

<h2>Sentiment Analysis</h2>
<p>
    <textarea cols="45" placeholder="Text" @oninput="UpdateScoreAsync"></textarea>
</p>

<HappinessScale Value="Happiness" />

@code {
    private const float DEFAULT = 50;
    public float Happiness { get; set; } = DEFAULT;

    private async Task UpdateScoreAsync(ChangeEventArgs e)
    {
        var text = e.Value as string;

        if (!string.IsNullOrWhiteSpace(text))
        {
            this.Happiness = await this.Http.GetFromJsonAsync<float>($"sentiment/predict?text={text}")
                .ContinueWith(r =>
                {
                    if (!string.IsNullOrWhiteSpace(text))
                    {
                        return r.Result;
                    }
                    return DEFAULT;
                });
        }
        else
        {
            this.Happiness = DEFAULT;
        }
    }
}
